#canvas-button-row-top, #canvas-button-row-bottom {
    display: flex;
    justify-content: space-between;
}

#drawing-title {
    margin: 0.3em 0;
    margin-bottom: 10px;
    transition: opacity 300ms ease;
}

#drawing-container {
    position: relative;
    display: none;
    opacity: 0;
    height: 98%;
    padding: 12px;
    color: white;
    flex-direction: column;
    justify-content: space-between;
}

#drawing-container-inner {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#drawing-canvas-container {
    display: flex;
    flex-direction: row;
    padding: 4px;
    width: 80vw;
    height: 300px;
    min-height: 300px;
    transition: transform 500ms ease, border 500ms ease;
}

#drawing-canvas-static, #drawing-canvas-active {
    flex: 1;
}

#drawing-canvas-static {
    background: url('../images/halfsun_static.png') no-repeat center / contain;
}

#drawing-canvas-buttons {
    position: relative;
    display: flex;
    flex-direction: column;
    font-size: 20pt;
    color: black;
    justify-content: space-around;
    transition: opacity 300ms ease;
}

#drawing-canvas-buttons::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: black;
    transform: translateX(-50%);
}

#canvas-toolkit > div {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}

#color-wheel-canvas {
    -webkit-tap-highlight-color: transparent;
}

#color-indicator {
    display: none;
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid white;
}

canvas {
    width: 100%;
    height: 100%;
}

.canvas-button.size {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border: 2px solid transparent;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 5px;
}

.size-button {
    border-radius: 50%;
    width: 5px;
    height: 5px;
    display: inline-flex;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 5px;
    background-color: black;
}

.size-button[data-size="4"] {
    width: 10px;
    height: 10px;
}

.size-button[data-size="6"] {
    width: 15px;
    height: 15px;
}

.size-button[data-size="8"] {
    width: 20px;
    height: 20px;
}

.size-button[data-size="10"] {
    width: 25px;
    height: 25px;
}

.size-button.selected {
    outline: 2px solid #5B53FF;
}

.brush-button {
    flex-direction: column;
    flex: 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-right: 1px solid #000;
}

.brush-button:not(:first-of-type) {
    border-top: 1px solid #000;
}

.brush-button img {
    max-width: 75%;
    max-height: 75%;
    padding: 8px;
}

.brush-button.selected {
    background-color: cornsilk;
}

#canvas-button-row-top {
    display: flex;
    justify-content: space-between;
    position: fixed;
    padding: 0px 20px;
    left: 0;
    right: 0;
    bottom: 66px;
    height: 50px;
    border-top: 1px solid black;
    transition: all 250ms ease;
}

#canvas-button-row-bottom {
    display: flex;
    padding: 0px 20px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 65px;
    background-color: white;
    border-top: 1px solid black;
}

/* Adjustments for the toolkit drawer */
#canvas-toolkit {
    display: none;
    position: absolute;
    height: 120px;
    top: 50px;
    left: 0;
    right: 0;
    border-top: 1px solid black;
}

.canvas-button {
    background-color: transparent;
    height: 50px;
    column-gap: 12px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Review Thin';
}

.canvas-button img {
    height: 55%;
}

.inner-border {
    flex: none !important;
    width: 1px !important;
    background: black;
    margin: 8px 0px;
}

.half-width {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    height: 50px;
}

.half-width div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 70px;
}


.slider-container {
    display: flex;
    justify-content: center;
    width: 15px;
}

.vertical-slider {
    -webkit-appearance: none;
    width: 95px;
    height: 8px;
    border-radius: 5px;
    background: black;
    outline: none;
    opacity: 0.7;
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
    margin: 0;
}

.vertical-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: hsla(217, 100%, 50%, 1);
    background: linear-gradient(270deg, rgb(41, 120, 247) 0%, rgb(73, 171, 245) 100%);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

/* .vertical-slider::-moz-range-thumb {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.vertical-slider::-ms-thumb {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}  */

#big-arrow {
    display: flex;
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    bottom: auto;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 300ms ease;
    pointer-events: none;
}

#big-arrow img {
    max-width: 200px;
}

#share-to-gallery {
    font-size: 30pt;
    display: flex;
    position: absolute;
    font-family: "Review Bold";
    top: auto;
    left: 0;
    right: 0;
    bottom: 18px;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: black;
    opacity: 0;
    transition: opacity 300ms ease, transform 300ms ease;
    transform: translateY(200px);
}