body::before, body::after {
    background-color: transparent !important;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Review';
    transition: background-color 1000ms;
    overflow: hidden;
    touch-action: manipulation;
    user-select: none;
}

.animatable-item {
    transition: all 1000ms;
}

#splash-container {
    height: 95%;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#welcome-container {
    display: none;
    opacity: 0;
    height: 98%;
    padding: 12px;
    color: white;
    flex-direction: column;
    justify-content: space-between;
}

#welcome-container-inner {
    padding: 8px 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#welcome-text {
    font-family: 'Review Thin';
}

#end-container {
    display: none;
    position: absolute;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    top: 15%;
    padding: 24px;
    color: black;
    justify-content: space-between;
    transition: opacity 1000ms;
}

#end-container button {
    background: #FF851A;
    background-image: -webkit-linear-gradient(top, #FF851A, #c46c20);
    background-image: -moz-linear-gradient(top, #FF851A, #c46c20);
    background-image: -ms-linear-gradient(top, #FF851A, #c46c20);
    background-image: -o-linear-gradient(top, #FF851A, #c46c20);
    background-image: linear-gradient(to bottom, #FF851A, #c46c20);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border: none;
    color: #ffffff;
    font-size: 14pt;
    padding: 10px 20px 10px 20px;
    cursor: pointer;
    font-family: 'Review Thin';
    text-decoration: none;
}

#end-container button:active {
    background: #FF851A;
    background-image: linear-gradient(to bottom, #c46c20, #FF851A);
    background-image: -webkit-linear-gradient(top, #c46c20, #FF851A);
    background-image: -moz-linear-gradient(top, #c46c20, #FF851A);
    background-image: -ms-linear-gradient(top, #c46c20, #FF851A);
    background-image: -o-linear-gradient(top, #c46c20, #FF851A);
}

#end-title {
    font-family: 'Review Bold';
    font-size: 3.5em;
}

#share-buttons-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 20px;
    cursor: pointer;
}

h1 {
    font-size: 4em;
    margin: 0.67em 0;
}

h2 {
    font-size: 3.5em;
    margin: 0.67em 0;
    line-height: 50px;
}

p {
    font-size: 1.5em; /* Adjust size as needed */
    margin: 0.67em 0;
}

.splash-image-container {
    display: flex;
    justify-content: center;
    column-gap: 10px;
}

.splash-image-container > div {
    position: relative;
    width: 40%; /* Match the width of the left image */
    height: auto; /* Adjust based on your needs */
}
.splash-image-container img {
    /* position: absolute; */
    left: 0;
    width: 100%;
    height: auto;
}

.divider-line {
    position: absolute;
    width: 100%;
    height: 1px;
    margin-left: -12px;
    background-color: white;
}

.divider-line.dark {
    position: relative;
    background-color: #333;
    width: calc(100% + 86px);
    margin-left: -43px;
}

.divider-line-vertical.dark {
    position: absolute;
    background-color: #333;
    width: 1px;
    height: calc(100% + 16px);
    top: 0px;
    left: 50%;
}

.arrow {
    width: 17px;
    height: 25px;
}

.nav-button {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    cursor: pointer;
}